<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container rounded" style="border:1px solid black">
  <div class="p-3">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class="p-3">
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>
  </div>

  
<br />
  <div class="container">
    <%= form.submit %>
  </div>
<% end %>
