
<%= render "devise/shared/links" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
   
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
<div class="form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container rounded" style="border:1px solid black">

  <div class="p-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="p-3">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"password" %>
  </div>
  </div><br />

  <div class="container">
    <%= f.submit "Log in", class:"button" %>
  </div>
<% end %>
</div>

</body>
</html>
