<p style="color: black"><%= notice %></p>
<div class="container">
<%= button_to 'sign Out', destroy_user_session_path, method: :delete, class:"btn btn-secondary me-md-4" %>
</div>
<h1 align="center">List Of Giftcards</h1>
<br/>
<table class="table table-striped table-bordered table-hover">
<thead class="table-dark">
<tr>
<th>Order Id</th>
<th>User Id</th>
<th>Name</th>
<th>Ordered Date</th>
<th>Address</th>
<th>Phone Number</th>
<th>Gift Card Value</th>
<th>Commission(10%)</th>
<th>Delievry Status</th>
<th>Mark As</th>
</tr>
</thead>
<tbody>
<% if user_signed_in? %>
<% Giftcard.each do |giftcard| %>
<% if giftcard.user == current_user %>
    <tr>
    <td><%=giftcard.id%></td>
    <td><%=giftcard.user_id%></td>
    <td><%=giftcard.first_name %>
    <%=giftcard.last_name %>
    </td>
    <td><%=giftcard.order_date%></td>
   <td><%=giftcard.address%></td>
   <td><%=giftcard.mob_no%></td>
   <td><strong>INR. </strong><%=giftcard.gift_card_value%></td>
    <td><strong>INR. </strong><%=giftcard.commission%></td>
    <td><%=giftcard.status%></td>
    <td><%= link_to "Show", giftcard , class:"btn btn-secondary"%>
    
    <%=link_to 'Edit', edit_giftcard_path(giftcard), class:"btn btn-secondary"%></td>
    </tr>

    <%end%>
  <% end %>
  <%else%>
  
  <% Giftcard.all.each do |giftcard| %>
  
    <tr>
    <td><%=giftcard.id%></td>
    <td><%=giftcard.user_id%></td>
    <td><%=giftcard.first_name %>
    <%=giftcard.last_name %>
    </td>
    <td><%=giftcard.order_date%></td>
    <td><%=giftcard.address%></td>
    <td><%=giftcard.mob_no%></td>
    <td><strong>INR. </strong><%=giftcard.gift_card_value%></td>
    <td><strong>INR. </strong><%=giftcard.commission%></td>
    <td><%=giftcard.status%></td>
    <td><%= link_to "Delivered", giftcard , class:"btn btn-secondary"%>
    
    <%=link_to 'Redeemed', edit_giftcard_path(giftcard), class:"btn btn-secondary"%></td>
    </tr>
    <%end%>
    <%=Giftcard.sum(:gift_card_value)%> 
    <h1></h1>@total_com : </h1><%=Giftcard.sum(:commission)%>
  <% end %>


</tbody>
</table>
<%if user_signed_in?%>
<%= link_to "New giftcard", new_giftcard_path, class:"btn btn-secondary" %>
<%end%>
